#!/bin/sh

# shellcheck disable=SC2154

# Copy Ansible files from S3 bucket
aws s3 cp s3://"${ansible_bucket}"/"${ansible_prefix}" . --recursive

# Install ansible users role
export ANSIBLE_ROLES_PATH=/etc/ansible/roles
mkdir -p /root/.ssh
echo "${private_key}" | base64 -d > /root/.ssh/id_rsa
chmod 700 /root/.ssh/id_rsa
ssh-keyscan gitlab.com >> /root/.ssh/known_hosts
ansible-galaxy install -r requirements.yaml
rm /root/.ssh/id_rsa


# Run ansible playbook
ansible-playbook \
 -e networking_environment="${environment}" \
 -e bastion_ip="${bastion_ip}"
playbook.yaml
